body {
	background-image: url(../images/background.jpg);
	background-size: cover;

}

@font-face {
	font-family: 'Pokefont';
	src: url(../PokemonSolid.ttf) format('truetype');
}


h1 {
	font-family: 'Pokefont';
	float: left;
	color: #ffff00;
	font-size: 50px;
	margin: 20px;
	line-height: 150%;
	text-shadow:
	1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

h2 {
	font-family: 'Pokefont';
}

.mons {
	width: 80px;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.character {
	border-style: solid;
	border-color: black;
	background-color: #FFFBDE;
	font-family: serif;
}

.hero {
	background-color: #FFF880;
}

.fighting {
	background-color: #FF534F;
}

#picking {
	width: 550px;
	height: 250px;
	margin: 0 auto;
	padding: 30px;
}

.theCenter {
	margin: 0 auto;
	padding: 30px;
}

#attack {
	font-family: 'Pokefont';
	font-size: 24px;
}

#restart {
	font-family: 'Pokefont';
	font-size: 22px;
}

#whathappens {
	background-color: #99b4c7;
	font-family: sans-serif;
}

#winsloses {
	font-family: sans-serif;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	padding: 20px;

}